.login-pop{
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 229, 229, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 229, 229, 0.6);
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e4e4e4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.login-pop:focus {
    border-color: #DCD2D4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 229, 229, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 229, 229, 0.6);
}
.display{
	display:none;
}
.center{
	text-align:center;
}
.login.cart{
	position:relative;
	display:inline-block;
	padding-left: 0px;
}
ul.droplogin.dropdown-menu.no-padding{
	top:50px;
	width:150px;
	left: -80px;
	box-shadow:0 6px 12px rgba(0, 0, 0, 0);
}
li.button.logbtn a{
	background-color:#DCD2D4;
}
#log-log{
	display:block;
}
#log-reg{
	display:block;
}
#log-cen{
	display:none;
}
#log-out{
	display:none;
}
ul#login-back {
    background-color: #fff0;
}
.quick{
	margin-top:10%;

/*  heart-shop  */
.product-section1 .products .product .heart-shop{
    left: 9%;
    top: -1%;
}

.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 100px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}

.product-section1 .products .product .heart-shop a{
	width: 19%;
    margin-left: 2%;
	border-radius: 100%;
	opacity: 0.6;
}
.product-section1 .products .product .heart-shop a:hover{
	color:red;
	opacity: 1;
}
i.fa.fa-heart-o {
    margin-top: 23%;
}
.product-con{
	color:#777;
}
.product-con ul{
	list-style-type: none;
	padding: 0;
}
